.resources {
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: $sky3;

            tr th {
                padding: 10px 0;
                border: 1px solid $sky2;
            }
        }

        tbody {
            text-align: center;

            &:not(:nth-child(even)){
                background-color: $white1;
            }

            tr {

                &:hover {
                    background-color: $sky1;
                }
                td {
                    border: 1px solid lightblue;
                    padding: 4px 0;

                    .img_link {
                        width: 22px;
                        height: 22px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}