.homecard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 230px;
    padding: 20px;
    border: 1px solid $sky3;
    margin: 20px;
    border-radius: 10px;

    img {
        width: 40px;
        margin-bottom: 10px;
    }
}

.projectcard {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
    width: 100%;

    &:not(:nth-child(even)){
        display: flex;
        flex-direction: row-reverse;

        .left {
            display: flex;
            justify-content: right
        }

        .right {
            text-align: left;

            .skill {
                justify-content: left;
                p {
                    font-size: 16px;
                    &:first-child { padding-left: 0; }
                }
            }

            .demoCode {
                justify-content: left;
                a {
                    &:first-child { padding-left: 0; }
                }
            }
        }
    }

    .left {
        width: 60%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        text-align: right;
        width: 38%;
        display: flex;
        flex-direction: column;

        .description {
            padding: 10px 0;
        }

        .skill {
            display: flex;
            justify-content: right;

            p {
                padding: 5px;
                font-size: 16px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .demoCode {
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 22px;

            a {
                padding: 10px;
                color: $orange;

                &:last-child {
                    padding-right: 0;
                }
            }

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .projectcard {
        flex-direction: column;

        &:not(:nth-child(even)){
            flex-direction: column;

            .right {
                text-align: right;
            }
        }

        .left,
        .right {
            width: 100%;
            p{
                text-align: left;
            }
        }

        .right {
            margin-top: 25px;
        }
    }
}