nav {
    border-radius: 0 40px 0 0;
    display: flex;
    justify-content: flex-end;

    .nav-container {
        background-color: $white;
        padding: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        ul {
            text-align: right;

            a {
                margin: 0 20px;
                color: $black;
                font-size: 20px;
            }

            .hover {
                display: inline-block;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    left: 0;
                    bottom: -3px;
                    background-color: $sky3;
                    transform-origin: bottom right;
                    transition: transform 0.3s ease;
                }

                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            .active::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: -3px;
                background-color: $sky3;
            }
        }
    }
}

@media screen and (max-width: 570px){
    nav {
        .nav-container {
            ul {
                text-align: center;

                a {
                    margin: 10px 10px 15px;

                    &:last-child {
                        margin: 0 10px 0;
                    }
                }
            }
        }
    }
}