@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700;800&display=swap');
$white: #fff;
$black: #000000;
$grey : rgb(241, 241, 241);
$dark_grey: rgb(202, 202, 202);
$blue : #0a66c2;
$orange: #fc6d26;
$red: rgb(248, 53, 53);

// Color palettes
$green1: #84a9ac;
$green2: #3b6978;

$white1: #f1f6f9;

$sky1: #d6e6f2;
$sky2: #b9d7ea;
$sky3: #769fcd;


*       { box-sizing: border-box; margin: 0; padding: 0; }
body    { background-color: $white1; font-family: 'EB Garamond', serif; overflow-x: hidden; }
h1      { text-decoration: underline; font-size: 28px; font-weight: 700;}
h2      { font-size: 25px; }
a       { outline: none; text-decoration: none; font-weight: 500; }
section { padding: 40px 20px 40px 10px; width: 73%; }
p       { font-size: 18px; }

.app {
    width: 100%;
    height: 100%;
    padding: 40px 40px 10px;


    .app_container {
        display: flex;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: $white;
        width: 100%;
    }
}

@media screen and (max-width: 870px){
    .app_container {
        flex-direction: column;
    }

    section {
        width: 100%;
        padding: 0 40px;
    }
}

@media screen and (max-width: 490px){
    .app {
        .app_container {
            border-top-left-radius: 10px;
        }
    }
}

@media screen and (max-width: 468px){
    .app {
        .app_container {
            border-top-left-radius: 0;
        }
    }
}