.profile {
    padding: 40px 20px 40px 40px;
    background-color: $white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100%;
    width: 25%;

    img {
        width: 170px;
        height: 190px;
    }

    .btn_research {
        border: 3px solid $green1;
        margin: 16px;
        padding: 10px;
        color: $black;
        border-radius: 20px;
    }

    .profile_social-network {
        font-size: 22px;

        a {
            margin: 8px;

            &:first-child {
                color: $blue;
            }
            &:last-child {
                color: $orange;
            }
        }
    }

    .profile_information {
        text-align: left;
        line-height: 25px;
        padding: 8px 0;
    }

    .profile_colors {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 5px;
            &.green {
                background-color: green;
            }
            &.dark {
                background-color: $black;
            }
            &.grey {
                background-color: $dark_grey;
            }
            &.blue {
                background-color: $blue;
            }
        }
    }

    .profile_pdf {
        img {
            width: 40px;
            height: 40px;
            margin: 4px 10px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1000px){
    .profile {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 870px){
    .profile {
        width: 100%;
        position: relative;
        padding: 30px;

        img {
            width: 170px;
            height: 190px;
        }

        .btn_container {
            display: flex;
            justify-content: center;
            text-align: center;

            .btn_research {
                width: 50%;
            }
        }

        .profile_information {
            text-align: center;
        }
    }
}