.project {
    width: 100%;
    border: 1px solid $dark_grey;
    height: 300px;

    .skill {
        display: flex;
        margin: 0 5px;
        justify-content: center;
    }

    .img_website {
        position: relative;
        height: 75%;

        .demoCode {
            position: absolute;
            display: flex;
            opacity: 0;
            top: 40%;
            left: 33%;
            align-items: center;
            width: 100px;
            justify-content: space-between;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            .demoCode {
                opacity: 1;
                transition-duration: 0.6s;

                .demo, .code {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $dark_grey;
                    border-radius: 50%;

                    svg {
                        width: 100%;
                    }

                    img, a {
                        width: 25px;
                        height: 25px;
                        font-size: 22px;
                        color: $orange;
                    }
                }
            }
        }
    }

    .info_website {
        height: 25%;
        text-align: center;
    }
}