.projects {
    .projects_all {
        .line {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px 0 20px;
            text-align: center;

            &::before, &::after{
                content: "";
                height: 5px;
                border-radius: 5px;
                width: 100%;
            }

            &::before {
                margin-right: 20px;
                margin-left: 2%;
                background: linear-gradient(to right, transparent, $green2);
            }

            &::after {
                margin-left: 20px;
                margin-right: 2%;
                background: linear-gradient(to left, transparent, $green2);
            }
        }

        .project_grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            grid-template-rows: auto;
            height: auto;
            grid-gap: 20px;
            justify-content: center;

            .project:last-child {
                margin-bottom: 30px;
            }
        }
    }

    .roadmap {
        margin-top: 60px;

        .roadmap_img {
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            .test {
                background: lightblue;
            }

            img {
                width: 500px;
                cursor: pointer;
            }
        }
    }

    .resources {
        margin-top: 30px;
    }
}

@media screen and (max-width: 870px){
    table {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 580px){
    .projects .roadmap .roadmap_img img {
        width: 100%;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 460px){
    .projects p {
        text-align: justify;
    }
}

@media screen and (max-width: 380px){
    .max {
        display: none;
    }
}