.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contact_img {
        width: 40%;

        img{
            width: 100%;
            height: 100%
        }
    }

    .contact_form {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;

        .input_name,
        .input_email,
        .textarea_msg {
            position: relative;
        }
    
        input {
            padding: 15px;
            margin: 14px auto;
            width: 100%;
            outline: none;
            text-indent: 10px;
            color: $black;

            &:focus {
                border: 1px solid $sky3;
            }
        }

        textarea {
            text-indent: 20px;
            max-height: 200px;
            max-width: 100%;
            min-height: 200px;
            min-width: 100%;
            margin-top: 15px;
            outline: none;
            padding-top: 14px;
        }

        .contact_not_mail,
        .contact_not_name,
        .contact_not_msg {
            display: none;
            position: absolute;
            top: -2px;
            left: 0;
            color: $red;
        }

        .form_message {
            position: absolute;
            bottom: -2px;
            color: $red;
        }

        .contact_btn {
            margin: 8px 0;

            input {
                width: 100px;
                text-indent: 0;
                border-radius: 10px;
                background-color: $green1;
                border: none;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 870px){
    .contact {
        display: flex;
        flex-direction: column;

        .contact_img,
        .contact_form {
            margin: 20px 0;
            width: 60%;
        }
    }
}

@media screen and (max-width: 560px){
    .contact {
        .contact_img,
        .contact_form {
            width: 85%;
        }
    }
}