.resources {
    .roadmap {
        margin-top: 60px;

        .roadmap_img {
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .test {
                background: lightblue;
            }

            img {
                width: 500px;
                cursor: pointer;
            }
        }
    }
    .resources_text {
        .resources_table{
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 660px){
    .resources .roadmap .roadmap_img .image img {
        width: 100%;
    }
    .resources_text, .roadmap {
        text-align: justify;
    }
}