.home {
    background-color: $white;
    border-bottom-right-radius: 30px;

    .home_cards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }

    .home_techno {
        padding: 20px 0;

        img {
            width: 80px;
            height: 100px;
            object-fit: contain;
            margin: 10px;
        }
    }

    .home_best-project {
        margin: 20px 0;
    }

    .home_btn_project {
        text-align: center;
        margin-top: 10px;

        a {
            background-color: $green1;
            padding: 10px;
            color: $white;
            border-radius: 10px;
            margin-top: 5px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 870px){
    .home {

        .home_best-project {
            margin-bottom: 0;
        }

        .home_btn_project {
            padding: 0 20px 30px;

        }
    }
}

@media screen and (max-width: 660px){
    .home .home_techno .home_techno_img {
        text-align: center;
    }
}

@media screen and (max-width: 460px){
    .home_techno, .home_about {
        p {
            text-align: justify;
        }

        img {
            text-align: center;
        }
    }
}