footer {
    padding-bottom: 10px;
    text-align: center;
    h4 {
        a {
            color: $black;
            display: inline-flex;
        }

        .hover {
            display: inline-block;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                left: 0;
                bottom: -2px;
                background-color: $sky3;
                transition: transform 0.3s ease;
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }
}