.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    color: $black;
    animation: fadeIn 0.5s ease;
    display: block;

    .modal_container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 90%;
        background-color: $white;
        text-align: center;
        position: absolute;
        overflow-y: scroll;

        .modal_text {
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            font-size: 20px;
            padding: 10px;
            border-bottom: 1px solid $black;

            a {
                position: absolute;
                top: 14px;
                left: 50%;
                color: $black;
            }

            .close {
                cursor: pointer;
            }
        }

        .modal_img {
            pointer-events: none;

            img {
                width: 100%;
            }
        }
    }
}

// .modal.none {
//     animation: fadeout 0.5s;
//     opacity: 0;
//     pointer-events: none;
// }

@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}